/* exercise
 -----------------------------------------------------------*/

#exercise-move-right{
    display: inline;

}

#exercise-picker{
    margin-top: 0px;
    margin-left: 0px;
    background-color: #ffd800;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 0px 0px;
    box-shadow: none;
}