@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <div class="container-fluid">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <div class="panel panel-primary">
                <div class="panel-heading">Today's Info @DateTime.Now.ToString("D")</div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <p>Today's Weather info goes here</p>
                        </div>

                        <div class="col-md-6">
                            <p>Here goes some information about today. (example: today is president's day. 45th day of the year. 7th week of the year.)</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr />
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <label>Oklahoma City, OK</label>
                            <br/>
                            <span id="localTime"></span>
                            <br/>
                            <span id="localDate"></span>
                        </div>
                        <div class="col-md-2">
                            <label>New York, NY</label>
                            <br />
                            <span id="timeEST"></span>
                            <br />
                            <span id="estDate"></span>
                        </div>
                        <div class="col-md-2">
                            <label>UTC</label>
                            <br/>
                            <span id="timeUTC"></span>
                            <br/>
                            <span id="utcDate"></span>
                        </div>
                        <div class="col-md-2">
                            <label>London, UK</label>
                            <br />
                            <span id="timeGMT"></span>
                            <br />
                            <span id="gmtDate"></span>
                        </div>
                        <div class="col-md-2">
                            <label>Dubai, UAE</label>
                            <br />
                            <span id="timeAST"></span>
                            <br />
                            <span id="astDate"></span>
                        </div>
                        <div class="col-md-2">
                            <label>Mumbai, India</label>
                            <br/>
                            <span id="timeIST"></span>
                            <br/>
                            <span id="istDate"></span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr />
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <p>Here goes today's exercise information.</p>
                        </div>
                        <div class="col-md-6">
                            <p>Here goes today's caloric intakes. Body Weight.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts{
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="~/SignalR/hubs"></script>
    <script src="~/Scripts/Custom/timer.js"></script>
}

