@model MvcApplication.Models.ExerciseModel

@{
    ViewBag.Title = "Index";
}

<h2>Exercise</h2>

<fieldset>
    <legend>ExerciseModel</legend>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")

    @ViewBag.Task
</p>
