@model MvcApplication.Models.ExerciseModel

@{
    ViewBag.Title = "Exercise";
}

<h2>Exercise</h2>
<br/>
<div class="panel panel-default">
    <div class="panel-heading"> 
        <div class="container">
            @using (Html.BeginForm("WorkoutChosen", "Exercise", new { id = "" }))
            {
                <form action="/Exercise/WorkoutChosen" method="post">
                    <fieldset class="col-md-10">
                        <div class="col-md-3">
                            <p>Choose Workout</p>
                        </div>
                        <div class="col-md-offset-5">
                            @Html.DropDownList("id", (SelectList)null, new { @onchange = "this.form.submit();", @class = "form-control" })
                        </div>
                    </fieldset>
                </form>
            }
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
